.dockerignore# Ignore Terraform scripts
terraform/

# Ignore Kubernetes deployment files


# Ignore other unnecessary files
*.log
*.tmp
deployment.yaml
mywork/
docker/Dockerfile
screenshots/
sparkbasics.egg-info/
spark-job.yaml
spark-role.yaml
binary/
.env