.dockerignore # Ignore Terraform scripts
terraform/
*.log
*.tmp
deployment.yaml
mywork/
docker/Dockerfile
screenshots/
sparkbasics.egg-info/
spark-job.yaml
spark-role.yaml
binaries/
.gitlab-ci.yml
binary/
.env
terraform_apply/
test_build/
.pytest_cache
__pycache__
"__pycache__"

