
*.class
*.log
.env

# idea
/.idea
/target
*.iml

.venv/
venv/
venv_p/
dist/
*.egg-info/
build/
myvenv312/
mywork/
spark-role.yaml
/docker/myimagedataeng/


### Mac ###
.DS_Store

/myvenv/
/spark.sh
/mywork2/teststorage.py
/mywork2/mainx.py
/mywork2/main_backup.py
/src/main/my_config.py
/src/test/data.csv/
/src/test/data_4a64da31-9087-45af-b99f-dd8aa0af5a7f.csv/
/src/test/data_3519ae9b-62b6-447d-981c-4049124cc4af.csv/
/src/test/data_6332bb99-3bed-4911-83dd-419ab2da5c14.csv/